* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--primary);
  color: var(--white);
  overflow-x: hidden;
}

.App {
  width: 100%;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

html, body {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
